#content-header{
	position: relative;
	width: 100%;
	padding-top: 160px;
    height: 400px;
    text-align: center;
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 60%;
    background-attachment: fixed;
    color: #ffffff;
}

.div-schedule {
	padding-top: 20px;
	font-size: 17px;
}

#list-content{
	position: relative;
	padding: 0px;
	height: 500px;
}
#div-hits {
	position: relative;
    top: 100px;
    font-size: 18px;
    z-index: 1;

}
.hit {
	text-align: center;
    background-color: #94D6DB;
    color: #454545;
    height: 90px;
    padding-top: 0px;
    border-right: 1px solid #ffffff;
    word-wrap: break-word;
    font-size: 22px;
}
.hit:last-child {
	border-right: 0px;	
}

#section-story {
	position: relative;
	width: 100%;
	min-height: 400px;
	background-color: #EFF6F2;
}

#div-logo {
	position: relative;
	padding-top: 120px;
}

#div-story {
	position: relative;
	top: 30px;
	font-size: 20px;
	text-align: center;
	padding-bottom: 70px;
}

#our-team {
	position: relative;
	width: 100%;
	min-height: auto;
	padding-bottom: 0px;
	background-color: #EFF6F2;
	margin-right: 0px;
    margin-left: 0px;
}

#items-our-team {
	position: relative;
	height: 100%;
	width: 100%;
}
.item-our-team {
	position: relative;
	height: 400px;
	background-size: cover;
	background-position: center;
}

.item-partner {
	position: relative;
	height: 140px;
	background-position: center;
	opacity: 0.5;
	background-repeat: no-repeat;
}

.item-our-team-info {
    position: absolute;
    color: #ffffff;
    bottom: 0px;
    width: 100%;
    height: auto;
    left: 0px;
    padding-left: 10px;
    /* padding-right: 0px; */
    background-color: rgba(0,0,0,0.5);
}

#our-partners {
	position: relative;
	width: 	100%;
	min-height: 400px;
	background-color: #454545;
	padding-right: 0px;
    margin-right: 0px;
    margin-left: 0px;
    color: #868686;
}


/* ONLY FOR MOBILES */
@media screen and (max-width: 767px) {
	#div-hits {
		padding-left: 0px;
	    padding-right: 0px;		
	    top: 55px;
	}    
	.hit {
		font-size: 14px;
	}	

	.item-our-team {
		height: 90px
	}
	.item-our-team-info{
		display: none;
	}
	#div-logo{
		padding-top: 60px;
	}
	#div-story{
    	padding-bottom: 30px;		
	}
	#div-story p{
		line-height: 1;
    	letter-spacing: 1px;
	}
	.item-partner{
		background-position: center center;
		background-size: contain;
	}
	#content-header {
	    background-size: 727px;
	    background-position-x: 58%;
	    background-position-y: -1%;
	}
}

/* ONLY FOR TABLETS IN PORTRAIT */
@media screen and (orientation: portrait) and (min-width: 768px) and (max-width: 1024px) {
	.hit {
		font-size: 18px;
	}
	.w-wrap {
		position: relative;
    	top: -10px;
	}
	.item-our-team {
		height: 230px
	}
	#content-header{
		height: 600px;
		background-size: 1273px;
    	background-position-x: 62%;
    	background-position-y: -85px;
	}

	#div-hits{
		top: 325px;
	}

	.item-our-team-info {
	    position: absolute;
	    color: #ffffff;
	    bottom: 0px;
	    width: 100%;
	    height: auto;
	    left: 0px;
	    padding-left: 10px;
	    /* padding-right: 0px; */
	    background-color: rgba(0,0,0,0.5);
	}
	
	#div-logo{
		padding-top: 80px;
	}
	.item-our-team br{
		display: none;
	}
	.item-our-team-info{
		padding-left: 0px;
	}
}

/* ONLY FOR TABLETS IN LANDSCAPE */
@media screen and (orientation: landscape) and (min-width: 768px) and (max-width: 1024px) {
    #div-hits{
    	top: 160px;
    }
    #div-logo{
		padding-top: 80px;
	}
	.item-partner{
		background-size: contain;
	}
	#content-header{
		background-size: 1057px;
    	background-position-y: -92px;
	}
}

/* UNTIL SCREEN RESOLUTION 1366PX */
@media screen and (min-width: 1025px) {
	#content-header{
		height: 400px;
		background-size: 1355px;
    	background-position-y: 100%;
	}
	#div-hits {
	    top: 125px;
	}

}

/* STARTING FROM SCREEN RESOLUTION 1366PX */
@media screen and (min-width: 1920px){
	#content-header{
		height: 600px;
		background-size: cover;
    	background-position-y: -155px;
	}
	#div-hits{
		top: 290px;
	}
}
