article{
	color: #fff;
}

a{
	color: #000;
}

a:hover {
	color: #000;
	text-decoration: none;
}

.background-img{
    background-image: url(../img/home.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
    height: 768px;
}

.row {
	margin-right: 0px;
}
#div-titulo{
    position: relative;
    top: 200px;
}
#div-titulo h1{
	text-align: center;
}

#div-link-central{
    margin-top: 20px;
	text-align: center;
}

#div-link-central a{
	font-size: 1.8em;
    text-align: center;
    padding: 10px 30px;
    width: auto;
    color: #fff;
    font-weight: bold;
    z-index: 99999;
    background-color: #fcc25b;
}

#div-link-central a:hover{
    color: #636363;
    background-color: #e2a310;
    border-color: #e2a310;
}


#div-titulo-content{
  color: #fff;
}

#div-ourServices h3, #div-ourServices h5{
    color: #808080;
    text-align: center;
    margin-top: 40px;
}
.margin-top-ourServices{
    margin-top: 30px;
}
.img-i{
    background-image: url(../img/i.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 46px 46px;
    height: 46px;
}

.img-aw{
    background-image: url(../img/aw.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 262px 80px;
    height: 80px;
}
#div-awards .col-md-4{
    text-align: center;
}
/*#div-awards, #div-testimonials{
    padding-top: 100px;
}*/
#div-testimonials .col-md-12{
    text-align: center;
}
.fullscreen-bg-home{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}
.img-venues{
    background-image: url(../img/img_venue.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 250px;
}
.img-catering{
    background-image: url(../img/img_catering.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 250px;
}
.img-decor{
    background-image: url(../img/img_decor.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 250px;
}
.img-music{
    background-image: url(../img/img_music.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 250px;
}
.img-staffing{
    background-image: url(../img/img_staffing.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 250px;
}
.img-production{
    background-image: url(../img/img_production.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 250px;
     
}

.img-award-purple{
    background-image: url(../img/aw_content.png);
    background-repeat: no-repeat;
    background-position: 0px -100px;
    background-size: cover;
    height: 250px;
    background-attachment: fixed;
    -webkit-filter: brightness(0.50);
    filter: brightness(0.40);
}
#div-awards{
    padding-top: 20px;
    padding-bottom: 20px;
}
#div-awards h4{
    color: #fff;
    font-size: 25px;
    margin-top: 100px;
}
.font-title{
  font-family: title_font;
  font-size: 100px;
}
.bmwe-menu {
    position: absolute;
    text-align: center;
    left: 0px;
    right: 0px;
    top: 370px; 
}

.bmwe-menu .ul-menu{
    padding-left: 0px;
}

.bmwe-menu .ul-menu > li{
  display: inline;
  padding: 20px 100px 20px 100px;
}
.bmwe-menu .ul-menu > li > a{
  text-decoration: none;  
  color: #fff;
  font-size: 22px;
  font-weight: 900;
  text-shadow: none;
  font-family: content_font_black;
  text-shadow: 1px 1px grey;
}
#div-home-image{
    height: 450px;
    background-size: 100% 100%;
}
#div-ourServices, #div-awards, #div-testimonials{
    background-color: #fff;
}
#div-ourServices p span{
    float: left;
    clear: both;
    font-family: content_font_black;
}
#div-awards p{
    padding: 20px 25px 0px 25px;
}
#div-awards span pre{
    font-family: content_font_light;
    color: #fff;
    letter-spacing: 3px;
    line-height: 2;
    background-color: transparent;
    border: none;
    font-size: 27px;
    word-break: normal; 
}
.line{
    height: 2px;
    background-color: #fff;
}
.carnet1{
    background-image: url(../img/carnet1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 148px;
    width: 148px;
    border-radius: 90px;
    margin-left: 125px;
}
.carnet2{
    background-image: url(../img/carnet2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 148px;
    width: 148px;
    border-radius: 90px;
    margin-left: 125px;
}
#div-testimonials{
    padding-bottom: 150px;
}
#div-testimonials p{
    margin-top: 30px;
    text-align: left;
}
#div-testimonials p span{    
    font-size: 22px;
    font-family: content_font_light;
    letter-spacing: 3px;
    line-height: 1.5;
}
#div-testimonials p span#spanTestimonials{
    font-size: 25px;
}
.borde{
    border: 1px solid;
    height: 100px;
}

#arrow-down-home{
    position: relative;
    top: 270px;
    height:53px;
    width: 53px;
    font-size:40px;
    font-weight: bold;
    padding-left: 4px;
    padding-top: 16px;
    color:#fff;
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    background-color: #ec971f;
    cursor: pointer;
    opacity: 0.7;    
}

#divTextAwards{
    position: relative;
    top: -250px;
}

#div-ourServices .services-venues, #div-ourServices .services-packages{
    height: 400px;
}

#div-ourServices #divServicesContent-venues, #div-ourServices #divServicesContent-packages{
    position: relative;
    top: 100px;
    color: #fff;
    text-align: center;
    display: none;
}

#div-ourServices .services-title{
    font-size: 32px;
    font-weight: 900;
    color: #fff;
    position: relative;
    top: 100px;
}

#div-ourServices .services-content{

}

/* ONLY FOR MOBILES */
@media screen and (max-width: 767px) {
    .div-only-for-mobile{
        display: block;
        height: 450px;
    }    
    #divTextAwards {
        top: 71%;
    }
    #div-awards span pre{
        font-size: 13px;
        letter-spacing: 0px;
    }
    .img-award-purple{
        background-position: -160px -179px;
        background-size: 685px 441px;
        background-attachment: local;
    }
    .ul-menu{
        padding-left: 0px;
    }
    .bmwe-menu .ul-menu > li > a{
        font-size: 11px;
    }
    .bmwe-menu .ul-menu > li{
        min-width: 110px;
        padding: 0px;
    }
    #div-titulo{
        margin-top: 0px;
        position: absolute;
        top: 150px;
    }
    .fullscreen-bg__video{
        height: 450px;
    }
    .with-font-title{
        font-size: 36px;
    }
    .btn-lg{
        font-size: 17px;
    }
    .not-for-mobile{
        display: none;
    }
    .margin-top20{
        margin-bottom: 20px;
    }
    .margin-top-ourServices{
        margin-top: 0px;
    }
    .fullscreen-bg-home{
        position: absolute;
    }
}

/* ONLY FOR TABLETS IN PORTRAIT */
@media screen and (orientation: portrait) and (min-width: 768px) and (max-width: 1024px) {
    #div-titulo{
        margin-top: 0px;
        position: relative;
        top: 210px;
    }
    .img-award-purple{
        background-position: 0px -185px;
        background-attachment: local;
    }
    #divTextAwards{
        top: 49%;
        left: 10px;
    }
    #div-awards span pre{
        font-size: 20px;
    }
    #div-home-image{
        height: 850px;
    }
    .fullscreen-bg__video{
        height: 850px;
    }
    .bmwe-menu .ul-menu > li{
        padding: 20px;
    }
    .bmwe-menu{
        top: 780px;
    }
    .not-for-mobile{
        display: none;
    }
    .div-only-for-mobile{
        display: block;
        height: 850px;
    }
    .fullscreen-bg__video{
        position: fixed;
    }
}

/* ONLY FOR TABLETS IN LANDSCAPE */
@media screen and (orientation: landscape) and (min-width: 768px) and (max-width: 1024px) {
    #div-titulo{
        margin-top: 0px;
        position: relative;
        top: 230px;
    }
    #div-home-image{
        height: 650px;
    }
    .fullscreen-bg__video{
        height: 650px;
    }
    .bmwe-menu{
        top: 580px;
    }
    .bmwe-menu .ul-menu > li{
        padding: 20px 70px 20px 70px;
    }
    .img-award-purple{
        background-position: -258px -100px;
    }
    .not-for-mobile{
        display: none;
    }
    .fullscreen-bg__video{
        position: fixed;
    }
}

/* UNTIL SCREEN RESOLUTION 1366PX */
@media screen and (max-width: 1366px) {
    #div-home-image{
        height: 630px;
    }
    .bmwe-menu{
        top: 550px;
    }
    #arrow-down-home{
        top: 433px;
    }
}

/* STARTING FROM SCREEN RESOLUTION 1366PX */
@media screen and (min-width: 1920px){
    #div-home-image{
        height: 970px;
    }
    #arrow-down-home{
        top: 750px;
    }
    .bmwe-menu{
        top: 800px;
    }
    #div-titulo{
        top: 350px;
    }
}
