.package-section h1{text-align: center;}
.package-section-content{padding: 30px;}
.half-section-right .package-section-content{text-align: right;}

.half-section-left, .half-section-right, .one-third-section-left, .one-third-section-right {
    position: relative;
}

.half-section-left .section-bg, .one-third-section-left .section-bg {
    right: auto;
    left: 0;
}
.half-section-right .section-bg, .one-third-section-right .section-bg {
    left: auto;
    right: 0;
}

.half-section-left .section-bg, .half-section-right .section-bg, .one-third-section-left .section-bg, .one-third-section-right .section-bg {
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center center !important;
}
.pricing-form-content{
    padding: 20px 10px 20px 10px;
    background: #182021;
    color: white;
}
.pricing-form-content .tracking-phone-number{
    color: #d6af76;
}
.entretainment-services{
    padding: 60px 10px 60px 10px;
    background: #182021;
    color: white;
}
.entretainment-services p{
    font-size: 34px;
    font-weight: 900;
    text-align: center;
}