#content-header{
	position: relative;
	width: 100%;
	padding-top: 120px;
    padding-bottom: 60px;
    height: 400px;
    text-align: center;
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 22%;
    background-attachment: fixed;
    color: #ffffff;
}

.div-schedule {
	padding-top: 30px;
	font-size: 17px;
	font-weight: bold;
}

.content-header-description{
	position: relative;
	height: 100px;
	width: 100%;
	text-align: center;
	/*background-color: #93D5D9;*/
	padding-top: 12px;
	padding-bottom: 20px;
}


#list-content{
	position: relative;
	padding: 0px;
	min-height: 500px;
	height: auto;
}

.planner-element{
	height: 100%;
	color:#808080;
	padding-bottom: 30px;
}
.planner-element h3{
	font-size: 30px;
    font-weight: bold;
    margin-bottom: 0px;
}

.div-planner-name{
	border: 1px solid black;
	text-align: center;
	z-index: 1;
	background-color: rgba(0,0,0,0.5);
}

.div-planner-image{
	position: relative;
	padding: 0px;
	height: 245px;
    background-size: cover;
    background-position: 50% 30%;
}
.div-planner-experience{margin-top: 10px;}

.div-planner-image img{
    display: block;
	max-height: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.inner-planner-element{
	position: relative;
	padding: 0px;
	height: 100%;}

.div-description{
	padding: 10px;
}

.div-planner-btn{
	text-align: center;
}


/* media query responsive for any mobiles */

@media screen and (max-width: 767px){
	#content-header {
		height: 530px;
		padding-top: 68px;
		background-position-x: 62%;
	}

  	#content-header h2 {
		padding-top: 0px;
	}
	
	#div-schedule {
		padding-top: 12px;
	}

	#btn-skype, #btn-instant-quote {
		display: block;
		margin-left: auto;
    	margin-right: auto; 
	}
	
	#list-content {
		height: auto;
	}

	.planner-element {
		padding-bottom: 30px;
	}	

}

/* ONLY FOR TABLETS IN PORTRAIT */
@media screen and (orientation: portrait) and (min-width: 768px) and (max-width: 1024px) {
	.div-planner-image {
		height: 350px;		
	}
}

/* ONLY FOR TABLETS IN LANDSCAPE */
@media screen and (orientation: landscape) and (min-width: 768px) and (max-width: 1024px) { 
	
	#content-header{
		height: 500px;
	}
}


/* UNTIL SCREEN RESOLUTION 1366PX */
@media screen and (min-width: 1025px) {
	#content-header{
		height: 600px;
	}
}

/* STARTING FROM SCREEN RESOLUTION 1366PX */
@media screen and (min-width: 1920px){
	#content-header{
		height: 700px;
	}
}