#content-header{
	position: relative;
	width: 100%;
	padding-top: 120px;
    padding-bottom: 60px;
    height: 400px;
    text-align: center;
 	background-size: cover;
    background-position-x: 50%;
    background-position-y: 100%;
    background-attachment: fixed;
    color: #ffffff;
}

.content-header-description {
	position: relative;
	height: auto;
	width: 100%;
	text-align: center;
	/*background-color: #93D5D9;*/
	padding-top: 12px;
	padding-bottom: 20px;
}

#list-content {
	position: relative;
	padding: 0px;
	height: 440px;
	width: 100%;
}

.div-schedule {
	text-align: center;
}
.div-schedule p {	
	font-size: 30px;
	margin-top:10px;
	font-weight: bold;
}


.venue-element{
	padding: 0px;
	height: 100%;
	border-right: 1px solid #ffffff;
}

.div-venue-image{
	padding: 0px;
	height: 300px;	
   	background-size: cover;
    background-size: ;
    background-position: center;
}

.inner-venue-element{
	position: relative;
	background-color: grey;
	padding: 0px;
	height: 100%;
}

.div-description{
	padding: 0px;
	color: #ffffff;
	text-align: center;
}

.div-description a{
	margin-top: 20px;
}

/* ONLY FOR MOBILES */
@media screen and (max-width: 767px) {
	#content-header {
		padding-top: 58px;
	}

	.div-schedule p {
	    font-size: 20px;
	    margin-top: 10px;
	}

	.content-header-description {				
		padding-top: 0px;
	}
}

/* ONLY FOR TABLETS IN PORTRAIT */
@media screen and (orientation: portrait) and (min-width: 768px) and (max-width: 1024px) {
	#list-content{
		padding-bottom: 150px;
    	background-color: grey;
	}
}

/* ONLY FOR TABLETS IN LANDSCAPE */
@media screen and (orientation: landscape) and (min-width: 768px) and (max-width: 1024px) {
    
}

/* UNTIL SCREEN RESOLUTION 1366PX */
@media screen and (max-width: 1366px) {
}

/* STARTING FROM SCREEN RESOLUTION 1366PX */
@media screen and (min-width: 1920px){
}
