<div id="testimonies" class="container">
    <div class="row">
        <div class="col-md-6 item-testimonie">
            <div class="img-avatar" style="background-image:url('{{ testimonial_a.thumb }}');"></div>
            <div class="p-testimonie">
                <p>{{ testimonial_a.description }}</p>
                <p>{{ testimonial_a.bride }}</p>
            </div>
            </div>
            <div class="col-md-6 item-testimonie">
                <div class="img-avatar" style="background-image:url('{{ testimonial_b.thumb }}');"></div>
                <div class="p-testimonie">
                    <p>{{ testimonial_b.description }}</p>
                    <p>{{ testimonial_b.bride }}</p>
                </div>
            </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <small>Read more testimonials by <a href="http://bestmiamiweddings.local/en/home/testimonials">clicking here.</a></small>
        </div>
    </div>
</div>